POSTGRES_DB=reminders
POSTGRES_USER=reminders
POSTGRES_PASSWORD=change-this-database-password

AUTH_USER_1_USERNAME=alice
AUTH_USER_1_PASSWORD=change-this-alice-password
AUTH_USER_2_USERNAME=bob
AUTH_USER_2_PASSWORD=change-this-bob-password

INTERNAL_AUTH_SECRET=change-this-to-a-long-random-secret
APP_TIMEZONE=Europe/Madrid
PURGE_INTERVAL_SECONDS=3600
DELETED_RETENTION_DAYS=30
